<?xml version="1.0"?>
<robot name="simple_unicycle_robot">

  <link name="base_link">
    <visual>
      <geometry>
        <cylinder radius="0.25" length="0.2"/>
      </geometry>
      <material name="orange">
        <color rgba="1.0 0.5 0.0 1"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <cylinder radius="0.25" length="0.2"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="1.0"/>
      <inertia ixx="0.019" ixy="0" ixz="0" iyy="0.019" iyz="0" izz="0.031"/>
    </inertial>
  </link>

  <gazebo reference="base_link">
    <material>Gazebo/Orange</material>
  </gazebo>

  <gazebo>
    <plugin name="object_controller" filename="libgazebo_ros_planar_move.so">
      <ros>
        <argument>cmd_vel:=cmd_vel</argument>
        <argument>odom:=odom</argument>
      </ros>
      <update_rate>100</update_rate>
      <publish_odom>true</publish_odom>
      <publish_odom_tf>true</publish_odom_tf>
      <odometry_frame>odom</odometry_frame>
      <robot_base_frame>base_link</robot_base_frame>
      <covariance_x>0.0001</covariance_x>
      <covariance_y>0.0001</covariance_y>
      <covariance_yaw>0.01</covariance_yaw>
    </plugin>
  </gazebo>

</robot>
